.page {
  display: flex;
  min-height: 95vh;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 8.5rem;
  padding-bottom: 3.5rem;
  width: 32.7rem;
  box-shadow: -2px -2px 4px #ffffff, 4px 3px 4px #e7ecef;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .left {
    width: 100%;
  }

  .page {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .top {
    justify-content: center;
    display: flex;
    flex: 1;
  }
}
.right {
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 217, 0, 0.187);
}
.card {
  display: inline-block;
  width: 400px;
  background-color: rgba(245, 248, 250, 0.897);
  border-radius: 20px;
  font-size: 13px;
  margin: 50px 20px;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title {
  margin-top: 8rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 1.9rem;
  text-align: center;
  color: #000000;
}
@media (max-width: 768px) {
  .title {
    margin-top: 3rem;
  }
  .card{
    width: 300px;
  }
}
.bottom {
  position: relative;
}
.button {
  background-color: rgba(21, 40, 183, 0.105);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 1px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
